@import '../../../scss/mixins';

.logo {
   @include font(
      var(--fw-9),
      var(--fs-36),
      var(--fh-42),
      var(--color-secondary-light)
   );
   padding: 2rem 0;

   &:hover {
      color: var(--color-hover);
   }
}

@media only screen and (min-width: 1200px) and (max-width: 1799px) {
   .logo {
      padding-left: 6rem;
   }
}

@media only screen and (min-width: 1800px) {
   .logo {
      padding-left: 16.125rem;
   }
}
