@import '../../../scss/mixins';

.nav-bar {
   display: flex;
   @include font-no-color(var(--fw-3), var(--fs-30), var(--fh-35));
   padding: 2rem 16.125rem;
   background-color: var(--color-main-dark);

   &__link {
      color: var(--color-main-light);
      margin: 0 4rem;
      line-height: 3.5rem;
      cursor: pointer;
      &:first-child {
         margin-left: 0;
      }
      &:last-child {
         margin-right: 0;
      }
      &:hover {
         filter: invert(50%) sepia(55%) saturate(500%) hue-rotate(335deg)
         brightness(140%) contrast(140%);
      }
   }
}


