@import '../../scss/mixins';

.wrapper {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-left: 35rem;
   margin-right: 23rem;
   margin-top: 26rem;

   .title {
      @include font(
         var(--fw-1),
         var(--fs-72),
         var(--fh-84),
         var(--color-main-light)
      );
      width: 51rem;
      &-bold {
         font-weight: var(--fw-7);
      }
   }
}
